<h1>Editing assignment</h1>

<%= render "form", assignment: @assignment %>

<br>

<div>
  <%= link_to "Show this assignment", @assignment %> |
  <%= link_to "Back to assignments", assignments_path %>
</div>
