<p style="color: green"><%= notice %></p>

<h1>Assignments</h1>

<div id="assignments">
  <% @assignments.each do |assignment| %>
    <%= render assignment %>
    <p>
      <%= link_to "Show this assignment", assignment %>
    </p>
  <% end %>
</div>

<%= link_to "New assignment", new_assignment_path %>
